div { 
  height: 100% 
}

.title {
  font-size: 22px;
  display: block;
  text-align: center;
}

#chart {
  width: 70%; 
  display: inline-block;
  height: 100vh;
}

#sliders {
  padding-left: 2%;
  width: 26%; 
  display: inline-block;
  vertical-align: top;
  margin-top: 1%;
}

#prong-radios {
  font-size: large;
}

input[type="radio"] {
  margin-right: 5%;
}