<div class="content" role="main">
  <div id="chart">
    <div [id]="this.chartId"></div>
  </div>
  <div id="sliders">
      <div *ngIf="!this.smoothingMenu.isActive" class="slider">
        <span>Кількість циклів</span>
        <ngx-slider [(value)]="this.ecgModel.M" [options]="this.sliderOptions.loops" (userChange)="onSliderChanged()"></ngx-slider>  
      </div>
      <div *ngIf="!this.smoothingMenu.isActive" class="slider">
        <span>Рівень альтернації T</span>
        <ngx-slider [(value)]="this.ecgModel.alt" [options]="this.sliderOptions.alt" (userChange)="onSliderChanged()"></ngx-slider> 
      </div>
      <div *ngIf="!this.smoothingMenu.isActive" class="slider">
        <span>Рівень шуму</span>
        <ngx-slider [(value)]="this.ecgModel.h" [options]="this.sliderOptions.h" (userChange)="onSliderChanged()"></ngx-slider> 
      </div> 
      <div *ngIf="!this.smoothingMenu.isActive">
        <button class="button" (click)="onToHomeBtnClicked()">←</button>
        <button class="button" (click)="onSmoothBtnClicked()">Згладжування</button>
      </div>
      <div *ngIf="this.smoothingMenu.isActive && this.isExponential" class="slider">
        <span>Параметр альфа</span>
        <ngx-slider [(value)]="this.smoothingMenu.alpha" [options]="this.sliderOptions.alpha" (userChange)="applyExponentialSmoothing()"></ngx-slider>  
      </div>
      <div *ngIf="this.smoothingMenu.isActive && !this.isExponential" class="slider">
        <span>Ширина вікна</span>
        <ngx-slider [(value)]="this.smoothingMenu.w0" [options]="this.sliderOptions.w0" (userChange)="applySlidingSmoothing()"></ngx-slider> 
      </div>
      <div *ngIf="this.smoothingMenu.isActive" id="smoothing-radios">
        <label for="exponential-smoothing">Експоненційне згладжування</label>
        <input type="radio" id="exponential-smoothing" name="smoothing" (change)="applyExponentialSmoothing()" checked>
        <label for="sliding-smoothing">Ковзне згладжування</label>
        <input type="radio" id="sliding-smoothing" name="smoothing" (change)="applySlidingSmoothing()">
      </div>
      <div *ngIf="this.smoothingMenu.isActive" id="stop-smoothing-btn">
        <button class="button" (click)="onStopSmoothingBtnClicked()">Завершити згладжування</button>
      </div>
  </div>
</div>