div { 
  height: 100% 
}

#chart {
  height: 70vh;
}

#sliders {
  height: 30vh;
  display: flex;
  justify-content: center;
}

#smoothing-radios {
  font-size: large;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 3%;
}

#stop-smoothing-btn {
  margin-left: 7%;
  margin-top: 2%;
}

.slider {
  display: inline-block;
  width: 20%;
  margin: 4%;
}

